<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Activities</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Check In/Out Pairs</ion-label>
      <ion-select (ionChange)="changeLimit()" [(ngModel)]="limit" name="limit" item-right>
        <ion-option value="5">5</ion-option>
        <ion-option value="10">10</ion-option>
        <ion-option value="15">15</ion-option>
        <ion-option value="20">20</ion-option>
        <ion-option value="25">25</ion-option>
        <ion-option value="30">30</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let service of services">
      {{ service.UserService.service_date | date:'dd-MM-yyyy'}}
      <ion-item *ngFor="let tag of service.UserTag">
        <ion-icon name="sunny" color="warning" *ngIf="tag.direction == 1" item-left></ion-icon>
        <ion-icon name="moon" color="dark" *ngIf="tag.direction == 2" item-left></ion-icon>
        {{ tag.direction }} &nbsp;&nbsp;
        <label *ngIf="tag.direction == 1">In</label>
        <label *ngIf="tag.direction == 2">Out</label>&nbsp;&nbsp; 
        {{ tag.tag_date | date:'hh:mm'}}

      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>