<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-list-header>
                <ion-icon name="clock" item-left color="danger"></ion-icon>
                 Attendance
            </ion-list-header>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon [name]="p.icon" light item-left></ion-icon>
                <p item-right>{{p.title}}</p>
            </button>

        </ion-list>
        <ion-list>
            <ion-list-header>
                <ion-icon name="stats" item-left color="primary"></ion-icon>
                 Statistics
            </ion-list-header>
            <button menuClose ion-item *ngFor="let stat of stats" (click)="openPage(stat)">
                <ion-icon [name]="stat.icon" light></ion-icon>
                <p item-right>{{stat.title}}</p>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>