<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button 
      ion-button 
      icon-only
      (click)="presentActionSheet()">
        <ion-icon name='person-add'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <!--<ion-grid>-->
    <!--<ion-row>-->
      <ion-list no-border>

        <ion-list-header>
          Personal Details
        </ion-list-header>

        <ion-item>
          <ion-avatar item-left>
            <ion-icon name='person'></ion-icon>
          </ion-avatar>
          <p>
            Full Name
          <p>
          <h2>          
            {{ personalData.name }}
          </h2>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <ion-icon name='barcode'></ion-icon>
          </ion-avatar>
          <p>
            Staff Number
          <p>
          <h2>          
            {{ personalData.staffNumber }}
          </h2>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <ion-icon name='mail'></ion-icon>
          </ion-avatar>
          <p>
            Email Address
          <p>
          <h2>          
            {{ personalData.email }}
          </h2>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <ion-icon name='home'></ion-icon>
          </ion-avatar>
          <p>
            Department
          <p>
          <h2>          
            {{ personalData.department }}
          </h2>
        </ion-item>

       <ion-item>
          <ion-avatar item-left>
            <ion-icon name='at'></ion-icon>
          </ion-avatar>
          <p>
            Base Location
          <p>
          <h2>          
            {{ personalData.baseLocation }}
          </h2>
        </ion-item>

      </ion-list>
      <ion-list no-border>

        <ion-list-header>
          Account Status
        </ion-list-header>

        <ion-item>
          <ion-icon name='walk' item-left></ion-icon>
          <ion-label>Activation</ion-label>
          <ion-icon name="checkmark-circle-outline" *ngIf="personalData.isActivated" item-right color="secondary"></ion-icon>
          <ion-icon name="close-circle" *ngIf="personalData.isActivated === false" item-right color="danger"></ion-icon>
        </ion-item>

      </ion-list>
</ion-content>
